*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.bulb{
    background-color: grey;
    height: 300px;
    width: 300px;
    gap: 20px;
    border: 2px solid black;
    margin: 30px;
}

button{
    padding: 10px 20px;
    gap: 20px;
    border-radius: 10%;
    border: 2px solid black;
}

button:active{
    scale: 0.8;
}