*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;

}

#card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid red;
}

#card h2{
    font-size: 30px;

}

#card h5{

    font-size: 23px;
    color: red;
    margin-top: 12px;
    margin-bottom: 22px;

}

#card button{

    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.2s;
}

button:active{
    scale: 0.9;
}